apiVersion: apps/v1
kind: Deployment
metadata:
  name: broker
  namespace: machina-sandbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: broker
  template:
    metadata:
      labels:
        app: broker
    spec:
      containers:
        - name: broker
          image: eclipse-mosquitto:2
          ports:
            - containerPort: 1883
            - containerPort: 9001

---
apiVersion: v1
kind: Service
metadata:
  name: broker
  namespace: machina-sandbox
spec:
  selector:
    app: broker
  ports:
    - name: mqtt
      port: 1883
      targetPort: 1883
    - name: ws
      port: 9001
      targetPort: 9001
  type: ClusterIP
