apiVersion: apps/v1
kind: Deployment
metadata:
  name: front
  namespace: machina-sandbox
spec:
  replicas: 2
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
      - name: front
        image: front:latest
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 80
        env:
          - name: VITE_MQTT_HOST
            value: broker
          - name: VITE_MQTT_PORT
            value: "9001"
          - name: VITE_API_URL
            value: "http://fleet-api.machina-sandbox.svc.cluster.local:8000"


---
apiVersion: v1
kind: Service
metadata:
  name: front
  namespace: machina-sandbox
spec:
  selector:
    app: front
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      # nodePort: 30080   # front accessible sur ce port côté Node
