name: CI Machina Sandbox Full

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  # 1) Tests backend (fleet-api)
  backend-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: fleet-api
    env:
      PYTHONPATH: ${{ github.workspace }}/fleet-api
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install backend dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run backend tests
        run: |
          echo "PWD: $(pwd)"
          echo "PYTHONPATH: $PYTHONPATH"
          pytest

  # 2) Build front (React / Vite)
  front-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install front dependencies
        run: npm install

      - name: Build front
        run: npm run build

  # 3) Smoke test Docker Compose (broker + fleet-api + front)
  #smoke-docker-compose:
    #runs-on: ubuntu-latest
    #needs: [backend-tests, front-build]
    #steps:
    #  - name: Checkout code
    #    uses: actions/checkout@v4

    #  - name: Set up Docker Buildx
    #    uses: docker/setup-buildx-action@v3

    #  - name: Run Docker Compose smoke test
    #    run: |
    #      chmod +x tools/smoke_compose.sh
    #      ./tools/smoke_compose.sh full
